* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.game {
	display: grid;
	grid-template-columns: repeat(3,100px);
	width: 300px;
	height: 300px;
}

input {
	border: 0;
	font-size: 72px;
	font-weight: bold;
	padding: 0 25px;
}
input:focus {
	outline: 0;
	border:0;
}

.c0, .c1 {
	border-right: 2px solid black;
}

.r0, .r1 {
	border-bottom: 2px solid black;
} 

.in {
	background-color: black;
	color: white;
}

main {
	display: grid;
	grid-template: 1fr / 1fr 2fr;
	grid-gap: 4rem;
	margin: 20px 100px;
}
.display {
	display: grid;
	background-color: hsla(0,30%,70%);
	align-content: center;
    justify-content: space-around;
}

.console, .console2 {
	font-family: monospace;
	font-size: 18px;
}

@media screen and (max-width: 550px) {
	main {
		grid-template: 1fr 1fr/1fr;
		margin: 1rem;
	}
	.game {
		margin: 0 auto;
	}
}

aside {
	display: flex;
    justify-content: space-around;
}

aside button {
	padding: 8px 12px;
	font-weight: 900;
	font-size: 18px;
}

.start {
	color: green;
}

.stop {
	color: red;
}